.counter-container {
     height: 100%;
}

.counter {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 100%;
}

.number-type {
     margin-top: 1rem;
     font-weight: bold;
}

.even-number {
     color: #2196F3;
}

.odd-number {
     color: #F44336;
}
