.userPanel {
     border-radius: 35rem;
     padding: 1rem;
     text-align: center;
}

.userPanel h3 {
     font-size: 1.5rem;
}

.userPanel p {
     font-size: 1rem;
}

.usersContainer {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
     gap: 10px;
     padding: 20px;
}

.ok {
     color: green;
     border: .2rem solid #47ff57;
}

.no {
     color: red;
     border: .2rem solid #d32d2d;
}