@import url('https://static.oracle.com/cdn/jet/v7.1.0/default/css/alta/oj-alta-min.css');
@import url('js/jet-composites/sticky-notes/sticky-notes.css');
@import url('js/jet-composites/user-list/user-list.css');

body {
  padding: 20px;
}

.panel {
  max-width: 18rem;
  min-width: 10rem;
  min-height: 10rem;

  h3 {
    margin-top: 0;
  }
}

section {
 margin-bottom: 10vh;
}

.usersContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 20px;

}

