@import url("https://static.oracle.com/cdn/jet/v7.1.0/default/css/alta/oj-alta-min.css");
@import url("js/jet-composites/sticky-notes/sticky-notes.css");
@import url("js/jet-composites/user-list/user-list.css");
@import url("js/jet-composites/counter/counter.css");
@import url("js/jet-composites/task-list/task-list.css");
@import url("js/jet-composites/form/form-component.css");

* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 1rem;
  margin-bottom: 1rem;

  background-color: #50E3C2;
  background-image: 
      radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(198.00, 100%, 50%) 0, transparent 55%);
}

section {
  width: 95%;
  margin: 0 auto;
  height: 90vh;
  /* background: rgb(230, 228, 228); */
  border-radius: 1rem;
  border-bottom-right-radius: 4rem;
  border-bottom-left-radius: 4rem;

  backdrop-filter: blur(25px) saturate(92%);
    -webkit-backdrop-filter: blur(25px) saturate(92%);
    background-color: rgba(255, 255, 255, 0.91);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 1rem;
}

.panel {
  max-width: 18rem;
  min-width: 10rem;
  min-height: 10rem;

  h3 {
    margin-top: 0;
  }
}

section {
  margin-bottom: 10vh;
}

.usersContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 20px;
}
